 

.formDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5px 0px;
}
 .inputs{
     flex-basis: 300px;
     flex-grow: 1;
     margin-right: 10px;
 }
.form input{
  height: 30px;
}
  
.create {
  background-color: #006797;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.create:hover,
.create:focus {
  background-color: #007cb6;
}

.weekDays {
  display: none !important;
}

.weekDays + .label {
  display: inline-block;
  border-radius: 5px;
  border: solid thin rgb(0, 116, 194);
  background: #ffffff;
  height: 40px;
  flex-basis: 50px;
  flex-grow: 1;
  color: rgb(0, 116, 194);
  margin-right: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.weekDays[type="checkbox"]:checked + .label {
  background: #05add7;
  color: #ffffff;
}
