.card {
    display: flex;
    flex-direction: column; 
    padding: 5px 10px;  
}
 

.title{
    margin: 5px;
}

.spaced {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
} 

.spacedBottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
} 
 

.btn{
    cursor: pointer;
}