.container {
  padding: 0 2rem; 
  background: rgb(123, 165, 156); 
}

.main {
  min-height: 100vh;
  background: white; 
  padding: 20px;  
  font-size: 1.25rem;
  border-radius: 25px;
  max-width: 90%; 
  margin: auto; 
}


